#input-video, #input-image {
    min-width: 25%;
    max-width: 75%;
}

#output-ascii {
    font-size: 8pt;
    color: gainsboro;
}

#slow-media-flag:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

li > pre {
    border: solid gray 1px;
    border-radius: 6pt;
    padding: 4pt !important;
    width: fit-content;
    overflow: hidden;
}

table td, table th {
    border: hidden;
}
